footer{
    color:white;
    background:darkolivegreen;
    display:flex;
}

#botlogo{
    width:400px;
}

#foottext{
    display:flex;
    flex-direction: column;
}

#footbig{
    font-size:40px;
    font-family: Cambria, Arial, sans-serif;
    margin-top:100px;
    text-align:right;
    margin-left:380px;
}

#footsmol{
    font-size:15px;
    margin-top:-20px;
    width:430px;
    margin-left:500px;
    text-align:right;
    line-height:25px;
}